.pagination {
    margin-top: 2%;
    justify-content: center;
}
.project_container {
    margin: 1% 0 0 0;
    background-color: #ced4da;
    border-radius: 25px;
    padding: 2%;
}
.project_description {
    padding: 0 1% 0 1%;
}
.header {
    font-weight: bold;
    text-align: center;
    border-radius: 15px 15px 0 0;
}
.row:last-of-type .col {
    border-radius: 0 0 15px 15px;
}
.row:first-of-type > .col {
    background-color: white;
}
.col {
    padding: 1%;
}
.navbar-brand:hover{
    color: lightsteelblue !important;
}
.navbar-brand.active{
    color: lightsteelblue !important;
}
.navbar {
    height: 90px;
}
.content {
    width: 70%;
    margin: 5% auto;
}
.title_text {
    font-size: 18px !important;
}
.accordion-item {
    border: 2px solid black !important;
    background-color: black;
}
.accordion-body {
    background-color: #2d2d39;
}
.accordion-button {
    font-weight: bold;
    color: #2d2d39 !important;
    background-image: linear-gradient(to right, #afbbbf , #55757e) !important;
}
body {
    background-color: #2d2d39 !important;
    color: #e1f6fb !important;
    padding-top: 90px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../public/best_background_ever.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a:not(a.navbar-brand, a.footer_nav_button, a.btn) {
    color: #71c6dd !important;
}
.footer_nav_button {
    margin: 5px;
    color: white !important;
}
.section_header {
    margin: 3%;
}
a {
    cursor: pointer;
}

